body {
  margin: 0;
  font-family: 'Roboto', 'Segoe UI', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: 'Roboto';
  src: local('Roboto'), url(./Fonts/Roboto-Regular.ttf) format('truetype');
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: local('Roboto'), url(./Fonts/Roboto-Italic.ttf) format('truetype');
  font-style: italic;
}


@font-face {
  font-family: 'Roboto';
  src: local('Roboto'), url(./Fonts/Roboto-Medium.ttf) format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: local('Roboto'), url(./Fonts/Roboto-MediumItalic.ttf) format('truetype');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Roboto';
  src: local('Roboto'), url(./Fonts/Roboto-Bold.ttf) format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: local('Roboto'), url(./Fonts/Roboto-BoldItalic.ttf) format('truetype');
  font-weight: 700;
  font-style: italic;
}